<ion-header class="ion-no-border">
	<ion-toolbar class="header-toolbar header-toolbar--shade">
		<ion-buttons slot="start">
			<ion-button class="header-toolbar__btn" (click)="cancel()">
				<ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>		

		<ion-title class="header-toolbar__title header-toolbar__title--with-icon" (click)="cancel()">
			<span>Edycja wydatków</span>
		</ion-title>

		<ion-buttons slot="end">
			<app-network-icon></app-network-icon>
		</ion-buttons>	
	</ion-toolbar>
</ion-header>
	  
<ion-content class="background-shade">
    <ion-grid class="p0 mt3">
        <ion-row>
            <ion-col class="p0">
                <div *ngIf="titleLine" class="ion-text-center m3">
                    <span>{{titleLine}}</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="p0">
                <div *ngIf="descriptionLine" class="ion-text-center mx3 mb3 description">
                    <span>{{descriptionLine}}</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="p0">
                <div class="mb2" *ngFor="let item of items; trackBy: trackDetailsBy">
                    <app-expense-details 
                        [hidden]="item.isDeleted"
                        [details]="item.details"
                        hideCopy="1"
                        (detailsChange)="onDetailsChange(item, $event)"
                        (delete)="delete(item)">
                    </app-expense-details>
                </div>    
            </ion-col>
        </ion-row>
    </ion-grid>  
</ion-content>	  

<ion-footer> 
	<ion-toolbar class="action-toolbar">
		<ion-buttons class="action-toolbar__container">
			<ion-button 
                class="action-toolbar__btn action-toolbar__btn--green" 
                expand="full" 
                (click)="save()">
                
				<div class="m1">
					<span class="action-toolbar__label-only">Zapisz zmiany</span>
				</div>
			</ion-button>
		</ion-buttons>	
	</ion-toolbar>
</ion-footer>