<ion-header class="ion-no-border">
    <ion-toolbar class="header-toolbar header-toolbar--shade"
        [hidden]="isPasswordChanged">

        <ion-buttons slot="start">
            <ion-button class="header-toolbar__btn" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    
        <ion-title class="header-toolbar__title header-toolbar__title--with-icon" (click)="cancel()">
            <span>Zmień hasło</span>
        </ion-title>
        
        <ion-buttons slot="end">
			<app-network-icon></app-network-icon>
		</ion-buttons>
    </ion-toolbar>

    <ion-toolbar  class="header-toolbar header-toolbar--shade"
        [hidden]="!isPasswordChanged">

        <ion-title class="header-toolbar__title">
            <span>Zmień hasło</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
        
<ion-content class="background-shade report">
    <div [hidden]="isPasswordChanged"> 
        <div class="mx2 mt3">
            Aby dokonać zmiany podaj stare i nowe hasło, a następnie zatwierdź przyciskiem u dołu ekranu.
        </div>
    
        <div class="mx2 mt3">
            <form>
                <ion-item class="background-shade">
                    <ion-label 
                        class="placeholder" 
                        position="floating"
                        [class.placeholder--invalid]="oldPasswordTxt.touched && oldPasswordTxt.invalid">
                        Stare hasło
                    </ion-label>

                    <ion-input 
                        name="old-pwd" 
                        type="password" 
                        [(ngModel)]="oldPassword" 
                        required 
                        #oldPasswordTxt="ngModel">
                    </ion-input>
                </ion-item>

                <div *ngIf="oldPasswordTxt.touched && oldPasswordTxt.invalid" class="validation-error">
                    Podaj stare hasło
                </div>
    
                <ion-item class="background-shade">
                    <ion-label 
                        class="placeholder"
                        position="floating"
                        [class.placeholder--invalid]="newPasswordTxt.touched && newPasswordTxt.invalid">
                        Nowe hasło
                    </ion-label>

                    <ion-input 
                        name="new-pwd" 
                        type="password" 
                        [(ngModel)]="newPassword"
                        required
                        #newPasswordTxt="ngModel">
                    </ion-input>
                </ion-item>

                <div *ngIf="newPasswordTxt.touched && newPasswordTxt.invalid" class="validation-error">
                    Podaj nowe hasło
                </div>

                <ion-item class="background-shade">
                    <ion-label
                        class="placeholder"  
                        position="floating"
                        [class.placeholder--invalid]="repeatedPasswordTxt.touched && repeatedPasswordTxt.invalid">
                        Powtórz nowe hasło
                    </ion-label>

                    <ion-input
                        #repeatedPasswordTxt="ngModel"
                        name="repeatedPassword" 
                        type="password" 
                        [(ngModel)]="repeatedPassword" 
                        (keyup.enter)="tryChangePassword()"
                        required>
                    </ion-input>
                </ion-item>

                <div *ngIf="repeatedPasswordTxt.touched && repeatedPasswordTxt.invalid" class="validation-error">
                    Powtórz nowe hasło
                </div>
            </form>           
    
            <div class="mt2 ml1">
                <ion-label *ngIf="errorCode == 'NotAuthorizedException'" color="danger">Stare hasło jest niepoprawne.</ion-label>
                
                <ion-label *ngIf="errorCode == 'InvalidParameterException' || errorCode == 'InvalidPasswordException'" color="danger">
                    Hasło powinno zawierać minimalnie 6 znaków, w tym co najmniej jedną cyfrę i jedną wielką literę.
                </ion-label>
    
                <ion-label *ngIf="errorCode == 'LimitExceededException'" color="danger">
                    Zbyt duża liczba prób zmiany hasła. Spróbuj za jakiś czas.
                </ion-label>

                <ion-label *ngIf="errorCode == 'PasswordsIdentical'" color="danger">
                    Nowe hasło musi być inne niż stare.
                </ion-label>

                <ion-label *ngIf="errorCode == 'PasswordsDontMatch'" color="danger">
                    Powtórzone nowe hasło nie jest takie samo.
                </ion-label>
            </div>        
        </div>
    
        <div class="empty-screen__content empty-screen__content--vs-ion-content hide-on-small-screen mb0i"
            [hidden]="isKeyboardVisible">
            <app-empty-screen                      
                imgUrl="../../assets/images/password.svg">
            </app-empty-screen>
        </div>
    </div>

    <div [hidden]="!isPasswordChanged">
        <div class="mx2 mt3 ion-text-center change-pwd">
            Gratulacje!
        </div>

        <div class="mx2 mt3 ion-text-center">
            Twoje hasło zostało zmienione.
        </div>

        <div class="mt3">
            <app-empty-screen                        
                imgUrl="../../assets/images/password.svg">
            </app-empty-screen>
        </div>
    </div>   
</ion-content>

<ion-footer> 
    <ion-toolbar class="action-toolbar">
		<ion-buttons class="action-toolbar__container">
			<ion-button *ngIf="!isPasswordChanged" 
                class="action-toolbar__btn action-toolbar__btn--green" 
                expand="full" 
                (click)="tryChangePassword()">
				<div class="m1">
					<span class="action-toolbar__label-only">Zmień hasło</span>
				</div>
            </ion-button>
            
            <ion-button *ngIf="isPasswordChanged" 
                class="action-toolbar__btn action-toolbar__btn--green" 
                expand="full" 
                (click)="cancel()">
				<div class="m1">
					<span class="action-toolbar__label-only">Wróć do aplikacji</span>
				</div>
			</ion-button>
		</ion-buttons>	
	</ion-toolbar>
</ion-footer>