@import "./../shared/styles-utils/header-toolbar.scss";
@import "./../shared/styles-utils/action-toolbar.scss";
@import "./../shared/styles-utils/placeholder.scss";

.forgot-password-email-row {
    margin-top: 20px;
}

.forgot-password-intro {
    color: gray;
}

.send-code {
    color: gray;
}