<ion-header class="ion-no-border">
	<ion-toolbar class="header-toolbar">
		<ion-buttons class="header-toolbar__btn" slot="start">
			<ion-back-button defaultHref="login"></ion-back-button>
		</ion-buttons>
	
		<ion-title class="header-toolbar__title header-toolbar__title--with-icon" (click)="cancel()">
			Odzyskiwanie hasła
		</ion-title>
	</ion-toolbar>	
</ion-header>

<ion-content class="ion-padding">
	<form #form="ngForm">
		<ion-grid>
			<ion-row *ngIf="!isVerificationCodeSent" class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left forgot-password-intro">
						<ion-label class="align-text-left">Na podany e-mail wyślemy Ci kod weryfikacyjny który posłuży Ci do wygenerowania nowego hasła.</ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="!isVerificationCodeSent" class="ion-justify-content-center forgot-password-email-row">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
					<div>
						<ion-item>
							<ion-label 
								class="placeholder" 
								position="floating"
								[class.placeholder--invalid]="emailTxt.touched && emailTxt.invalid">
								E-mail
							</ion-label>

							<ion-input
								#emailTxt="ngModel"
								name="email" 
								type="email" 
								[(ngModel)]="email"
								(keyup.enter)="tryInitiateForgotPassword()"
								required>
							</ion-input>
						</ion-item>

						<div *ngIf="emailTxt.touched && emailTxt.invalid" class="validation-error">
							Podaj e-mail
						</div>
					</div>
				</ion-col>
			</ion-row>

			<ion-row *ngIf="!isVerificationCodeSent" class="mt2 ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
					<ion-label class="send-code">Masz już kod? 
						<a [routerLink]="" (click)="skipCodeSending()">kliknij tutaj</a>
					</ion-label>
				</ion-col>
			</ion-row>

			<ion-row *ngIf="isVerificationCodeSent && !isPasswordChanged" class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left forgot-password-intro">
						<ion-label class="align-text-left">Przepisz kod weryfikacyjny otrzymany w wiadomości e-mail i ustaw nowe hasło.</ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="isVerificationCodeSent && !isPasswordChanged" class="ion-justify-content-center forgot-password-email-row mb2">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
					<div>
						<ion-item [hidden]="!isVerificationCodeSendingSkipped">
							<ion-label
								class="placeholder"  
								position="floating"
								[class.placeholder--invalid]="resetEmailTxt.touched && resetEmailTxt.invalid">
								E-mail
							</ion-label>

							<ion-input
								#resetEmailTxt="ngModel" 
								name="email" 
								type="email" 
								[(ngModel)]="email" 
								required>
							</ion-input>
						</ion-item>

						<div *ngIf="isVerificationCodeSendingSkipped && resetEmailTxt.touched && resetEmailTxt.invalid" class="validation-error">
							Podaj e-mail
						</div>

						<ion-item>
							<ion-label
								class="placeholder"  
								position="floating"
								[class.placeholder--invalid]="resetCodeTxt.touched && resetCodeTxt.invalid">
								Kod weryfikacyjny
							</ion-label>

							<ion-input
								#resetCodeTxt="ngModel" 
								name="verificationCode" 
								type="number" 
								[(ngModel)]="verificationCode" 
								required>
							</ion-input>
						</ion-item>

						<div *ngIf="resetCodeTxt.touched && resetCodeTxt.invalid" class="validation-error">
							Podaj kod weryfikacyjny
						</div>

						<ion-item>
							<ion-label 
								class="placeholder" 
								position="floating"
								[class.placeholder--invalid]="resetPasswordTxt.touched && resetPasswordTxt.invalid">
								Nowe hasło
							</ion-label>

							<ion-input 
								#resetPasswordTxt="ngModel"
								name="password" 
								type="password" 
								[(ngModel)]="newPassword" 
								required>
							</ion-input>
						</ion-item>

						<div *ngIf="resetPasswordTxt.touched && resetPasswordTxt.invalid" class="validation-error">
							Podaj nowe hasło
						</div>

						<ion-item>
							<ion-label
								class="placeholder"  
								position="floating"
								[class.placeholder--invalid]="resetRepeatedPasswordTxt.touched && resetRepeatedPasswordTxt.invalid">
								Powtórz hasło
							</ion-label>

							<ion-input
								#resetRepeatedPasswordTxt="ngModel"
								name="repeatedPassword" 
								type="password" 
								[(ngModel)]="repeatedPassword" 
								(keyup.enter)="tryResetPassword()"
								required>
							</ion-input>
						</ion-item>

						<div *ngIf="resetRepeatedPasswordTxt.touched && resetRepeatedPasswordTxt.invalid" class="validation-error">
							Powtórz nowe hasło
						</div>
					</div>
				</ion-col>
			</ion-row>

			<ion-row *ngIf="isPasswordChanged" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label class="align-text-left">Hasło zostało zmienione. Możesz teraz wrócić na ekran logowania</ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="errorCode === 'PasswordsDontMatch'" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label color="danger" class="align-text-left">Hasła muszą być takie same.</ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="errorCode === 'InvalidParameterException' || errorCode === 'InvalidPasswordException'" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label color="danger" class="align-text-left">
                            Hasło powinno zawierać minimalnie 6 znaków, w tym co najmniej jedną cyfrę i jedną wielką literę.
                        </ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="errorCode === 'UserNotFoundException' || errorCode === 'CodeMismatchException'" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label color="danger" class="align-text-left">
                            Niepoprawny kod weryfikacyjny
                        </ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="errorCode === 'ExpiredCodeException'" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label color="danger" class="align-text-left">
                            Podany kod weryfikacyjny utracił swoją ważność. Wygeneruj nowy i spróbuj jeszcze raz.
                        </ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="errorCode === 'LimitExceededException'" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label color="danger" class="align-text-left">
                            Wykryto zbyt wiele prób zmiany hasła. Spróbuj ponownie za jakiś czas.
                        </ion-label>
					</div>						
				</ion-col>
			</ion-row>

			<ion-row *ngIf="errorCode && errorCode != 'InvalidParameterException' && errorCode != 'InvalidPasswordException' && errorCode != 'UserNotFoundException' && errorCode != 'CodeMismatchException' && errorCode != 'ExpiredCodeException' && errorCode != 'PasswordsDontMatch' && errorCode != 'LimitExceededException'" 
				class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">		
					<div class="ion-text-left">
						<ion-label color="danger" class="align-text-left">
                            Wystąpił problem. Spróbuj ponownie za jakiś czas.
                        </ion-label>
					</div>						
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>	
</ion-content>

<ion-footer> 
	<ion-toolbar class="action-toolbar">
		<ion-buttons class="action-toolbar__container">
			<ion-button *ngIf="!isVerificationCodeSent" 
                class="action-toolbar__btn action-toolbar__btn--green" 
                expand="full"
				[disabled]="isLoading"
				(click)="tryInitiateForgotPassword()">

				<div class="m1">
					<span class="action-toolbar__label-only">
                        Wyślij kod weryfikacyjny
                    </span>
				</div>
			</ion-button>

			<ion-button *ngIf="isVerificationCodeSent && !isPasswordChanged" 
                class="action-toolbar__btn action-toolbar__btn--green" 
                expand="full" 
				[disabled]="isLoading"
				(click)="tryResetPassword()">

				<div class="m1">
					<span class="action-toolbar__label-only">
                        Resetuj hasło
                    </span>
				</div>
			</ion-button>

			<ion-button *ngIf="isPasswordChanged" 
                class="action-toolbar__btn action-toolbar__btn--green" 
                expand="full" 
				[disabled]="isLoading"
				(click)="cancel()">

				<div class="m1">
					<span class="action-toolbar__label-only">
                        Wróć do logowania
                    </span>
				</div>
			</ion-button>
		</ion-buttons>	
	</ion-toolbar>
</ion-footer>
